# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ProjetS2IMERIR\SQL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
